pagesaver/pages
pagesaver/temp_files
tmpfile

pagesaver/todo.txt

pagesaver/table_files

shortcuts

randwallpaperselect/background*
randwallpaperselect/Thumbs.db


randbookselect/*.epub
randbookselect/*.mobi
randbookselect/*.pdf
randbookselect/*.txt
